@CHARSET "ISO-8859-1";
/*Tela grande*/
@media(min-width:768px){
	.panel-default{
		margin-left:20px;
		margin-right:20px;
	}
	.alert{
		margin-left:20px;
		margin-right:20px;
	}
}



.navbar-brand{
	padding-top: 2px;
}
body{
	background-color: #555;
}



.cw-link-panel{
	float:right;
	padding:0px;
}

.cw-titulo-panel{
	float:left;
	padding-top:2px:
}

.cw-despesa-panel{
	float:left;
	padding-top:2px:
}

