<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">

	<head>
		<title>Pesquisa de despesas</title>
	</head>

	<section layout:fragment="conteudo">
	
	<div layout:include="Mensagens"></div>
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title cw-despesa-panel">Pesquisa de despesas</h1>
					<a class="btn btn-link cw-link-panel" th:href="@{/despesas/nova}">Nova despesa</a>
				</div>
			</div>
			
			<div class="panel-body">
			
			<form th:action="@{/despesas}" method="GET" class="form-horizontal" th:object="${filter}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input th:field="*{descricao}" class="form-control" placeholder="Qual despesa você está procurando" autofocus="autofocus"></input>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center col-md-1">#</th>
									<th>Descrição</th>
									<th class="text-center col-md-2">Data do vencimento</th>
									<th class="text-center col-md-2">Data do pagamento</th>
									<th class="text-right col-md-2">Valor</th>
									<th class="text-right col-md-2">Valor pago</th>
									<th class="text-center col-md-2">Status</th>
									<th class="text-center col-md-2">Tipo</th>
									<th class="col-md-1"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="despesa :${despesas}">
									<td class="text-center" th:text="${despesa.id}"></td>
									<td th:text="${despesa.descricao}"></td>
									<td class="text-center" th:text="${{despesa.dataVencimento}}"></td>
									<td class="text-center" th:text="${{despesa.dataPagamento}}"></td>
									<td class="text-right" th:text="|R$ ${{despesa.valor}}"></td>
									<td class="text-right" th:text="|R$ ${{despesa.valorPago}}"></td>
									<td class="text-center" th:attr="data-role=${despesa.id}">
										<span class="label" th:text="${despesa.status}" th:classappend="${despesa.paga ? 'label-danger' : 'label-success'}">Success</span>
									</td>
									<td class="text-right" th:text="|R$ ${{despesa.tipo}}"></td>
									<td class="text-center">
										<a class="btn btn-link btn-xs" th:href="@{/despesas/{id}(id=${despesa.id})}" title="Editar" rel="tooltip" data-placement="top">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
										<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#dialogoConfirmacaoExclusaoModal" th:attr="data-id=${despesa.id}, data-descricao=${despesa.descricao}" title="Excluir" rel="tooltip" data-placement="top">
											<span class="glyphicon glyphicon-remove"></span>
										</a>
										<a class="btn btn-link btn-xs js-atualizar-status" th:attr="data-id=${despesa.id}" th:href="@{/despesas/{id}/receber(id=${despesa.id})}" th:if="${despesa.paga}" title="Pagar" rel="tooltip" data-placement="top">
											<span class="glyphicon glyphicon-check"></span>
										</a>
									</td>
								</tr>
								<tr>
									<td colspan="9" th:if="${#lists.isEmpty(despesas)}">Nenhuma despesa foi encontrada.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
			
			<div layout:include="DialogoConfirmacaoExclusao"></div>
		</div>
	</section>
</html>